body, html {
    height: 100%;
    margin: 0;
    font-family: 'Monospace', monospace;
    background: url('images/kali-wallpaper.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

#window {
    width: 90%;
    height: 80%;
    margin: 2em auto;
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid #FF0000; /* Red border */
    color: #fff;
    box-shadow: 0 0 10px #FF0000; /* Red shadow */
    display: flex;
    flex-direction: column;
}

#window-header {
    background-color: #000;
    color: #FF0000; /* Red text */
    padding: 0.5em;
    display: flex;
    align-items: center;
    font-weight: bold;
}

#window-controls {
    display: flex;
}

.window-control {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
    border: none;
    outline: none;
}

.window-control.close {
    background-color: #EF5350;
}

.window-control.minimize {
    background-color: #FFEB3B;
}

.window-control.maximize {
    background-color: #66BB6A;
}

#terminal {
    padding: 1em;
    flex-grow: 1;
    overflow-y: auto;
    position: relative;
}

#terminal-body {
    min-height: 300px;
    padding-bottom: 50px; /* Make space for the input bar */
}

#terminal-footer {
    position: absolute;
    bottom: 0;
    left: 0; /* Align to the left */
    right: 0; /* Align to the right */
    padding: 0.5em;
    box-sizing: border-box; /* Include padding in the width calculation */
    background-color: rgba(0, 0, 0, 0.85);
}

#command-line {
    width: calc(100% - 2em); /* Adjust width to account for padding */
    background-color: transparent;
    color: #4CAF50;
    border: none;
    padding: 0.5em 1em; /* Same horizontal padding as #terminal to align text */
    font-family: 'Monospace', monospace;
    font-size: 1em;
    outline: none; /* Remove focus outline */
}

#about-me img {
    display: block;
    margin: 0 auto 1em; /* Center the image and add space below */
    max-width: 100px; /* Set a maximum width for the image */
    height: auto; /* Keep the aspect ratio of the image */
    border-radius: 50%; /* Optional: makes the image round */
}
